body {
    background-image: url(examenes.jpg);
    background-size: 100vw;
    font-family: 'Courier New', Courier, monospace;
}

form{
    width: 600px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 20px;
}

h2{
    color: #ffff;
    text-align:  center;
    margin: 0;
    font-size:  30px;
    margin-bottom: 20px;
}

h3{
    color: #ffff;
    text-align:  center;
    margin: 0;
    font-size:  20px;
    margin-bottom: 20px;
}

a {
    color: white;
    padding:20px 185px;
  }